---
import '../styles/global.scss';
---

<footer>
	<p>© {new Date().getFullYear()} Filed & Forgotten</p>
	<div class="footer_links">
		<a href="https://bsky.app/profile/filed.fyi" target="_blank" rel="noopener noreferrer">Bluesky</a>
		<a href="https://x.com/filedfyi" target="_blank" rel="noopener noreferrer">X</a>
		<a href="https://github.com/drawmeanelephant/filed-log/" target="_blank" rel="noopener noreferrer">GitHub</a>
	</div>
</footer>
