---
import '../styles/global.scss';
import { SiteTitle } from '../consts';
---

<header>
	<nav>
		<h2 id="site_title">
			<a href="/">
				<svg
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="lucide lucide-folder-archive"
					><path
						d="M10 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2h-8c0-1.1-.9-2-2-2Z"
						fill="url(#brand-gradient)"
						stroke="none"></path><path d="M12 13v3" stroke="white"></path><path
						d="m9 16 3-3 3 3"
						stroke="white"></path><defs
						><linearGradient id="brand-gradient" x1="0%" y1="0%" x2="100%" y2="100%"
							><stop offset="0%" stop-color="#2dd4bf"></stop><stop offset="100%" stop-color="#0d9488"
							></stop></linearGradient
						></defs
					></svg
				>
				{SiteTitle}
			</a>
		</h2>
		<div class="links">
			<a href="/">Archive</a>
			<a href="/docs">Documentation</a>
			<a href="/guides">Guides</a>
			<a href="https://github.com/drawmeanelephant/filed-log/" target="_blank">Source</a>
		</div>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
</style>
